.animate-on-hover:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 1px rgb(0 0 0 / 35%);
}

.animate-on-hover {
  transition: box-shadow 160ms ease, transform 160ms ease;
}

.scale-on-hover:hover {
  transform: scale(1.02);
}

.scale-on-hover {
  transition: transform 160ms ease;
}

.vp-video-area {
  border-radius: 0px!important;
}